<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="opening" >

  <xacro:arg name="flap_mass" default="2.0" /> <!-- m -->
  <xacro:arg name="flap_width" default="0.75" /> <!-- m -->
  <xacro:arg name="flap_height" default="0.05" /> <!-- m -->

  <link name="flap">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg flap_width) $(arg flap_width) $(arg flap_height)" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg flap_width) $(arg flap_width) $(arg flap_height)" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="$(arg flap_mass)"/>
      <inertia
          ixx="${0.25 * $(arg flap_mass) * $(arg flap_width) * $(arg flap_width)}" ixy="0.0" ixz="0.0"
          iyy="${0.25 * $(arg flap_mass) * $(arg flap_width) * $(arg flap_width)}" iyz="0.0"
          izz="${0.5 * $(arg flap_mass) * $(arg flap_width) * $(arg flap_width)}"/>
    </inertial>
  </link>

  <!-- TODO: change friction rate to paramter -->
  <!-- Noet: 0.13 corresponds to 3.5N -->
  <gazebo reference="flap">
    <material>Gazebo/Blue</material>
    <mu1>0.13</mu1>
    <mu2>0.13</mu2>
  </gazebo>

  <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>10.0</updateRate>
      <bodyName>flap</bodyName>
      <topicName>/flap/odom</topicName>
      <gaussianNoise>0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

</robot>
