<?xml version="1.0" encoding="utf-8"?>
<launch>
<!-- Debug Info -->
<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

<node name="state_validation_node" pkg="hydrus_gap_passing" type="state_validation_node" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">

  <rosparam file="$(find hydrus_transform_control)/config/hydrus3/TransformControl.yaml" command="load" />
  <param name="debug_log" type="bool" value="false"/>

  <param name="joint_min" type="double" value="-90.0"/>
  <param name="joint_max" type="double" value="90.0"/>

</node>
</launch>
