<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="type" default="quad" />
  <arg name="transformation" default="true" />
  <arg name="simulator" default="true" />
  <arg name="record_log" default="false" />
  <arg name="play_log" default="false" />

  ###########  Robot Model  ###########
  <group if="$(arg simulator)">
    <include file="$(find hydrus)/launch/robot_model.launch" >
      <arg name="model" value="hydrusx"/>
      <arg name="type" value="$(arg type)" />
      <arg name="headless" value="true" />
      <arg name="need_joint_state" value="false"/>
    </include >

    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find gap_passing)/config/planning.rviz" respawn="true" />

  </group>

  ########## Planning for gap passing without transformation ###########
  <param name="/robot_description_semantic" textfile="$(find gap_passing)/config/hydrusx/$(arg type)/moveit.srdf" />

  <node name="motion_planning_node" pkg="gap_passing" type="se2_motion_planning_node" respawn="false" output="screen">
    <param name="debug_log" type="bool" value="false"/>
    <param name="log_flag" type="bool" value="$(arg record_log)" />

    <param name="simulator" type="bool" value="$(arg simulator)" />

    <param name="coefficient_rate" value="0.05"/>
    <param name="planning_mode" value="1" unless="$(arg transformation)"/>
    <param name="planning_mode" value="2" if="$(arg transformation)"/>
    <param name="motion_sequence_rate" value="50"/>
    <param name="ompl_mode" value="0"/> <!-- RRT START:0 -->

    <param name="start_state_x" value="-1.5"/>
    <param name="start_state_y" value="1"/>
    <param name="start_state_theta" value="-1.57"/>

    <param name="goal_state_x" value="3"/>
    <param name="goal_state_y" value="1"/>
    <param name="goal_state_theta" value="-1.57"/>

    <param name="state_validity_check_res" value="0.005"/>
    <param name="valid_segment_count_factor" value="20"/> <!--20-->

    <param name="solving_time_limit" type="double" value="3600"/>

    <param name="semi_stable_cost" type="double" value="0.5"/>
    <param name="full_stable_cost" type="double" value="0.5"/>

    <param name="length_opt_weight" type="double" value="1.0"/>
    <param name="stability_opt_weight" type="double" value="0"/>

    <param name="stability_cost_thre" type="double" value="1.2" />

    <!-- for specific param -->
    <rosparam file="$(find hydrus)/config/hydrusx/$(arg type)/Hydrus.yaml" command="load" />
    <rosparam file="$(find gap_passing)/config/hydrusx/$(arg type)/GapWithTransformation.yaml" command="load" if="$(arg transformation)"/>
    <rosparam file="$(find gap_passing)/config/hydrusx/$(arg type)/GapWithoutTransformation.yaml" command="load" unless="$(arg transformation)"/>
    <rosparam file="$(find gap_passing)/config/gap/HorizontalGapNoOverlap.yaml" command="load" />

    <!-- for motion control -->
    <param name="play_log_path" type="bool" value="$(arg play_log)"/>
    <param name="file_name" value="$(find gap_passing)/path_log/planning_log.txt" />

    <remap from="/hydrus/joints_ctrl" to="/hydrusx/joint_states" />

  </node>
</launch>
