<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="type" default="quad" />
  <arg name="headless" default="false" />
  <arg name="onboards_model"  default = "old_model_tx2_rs_t265_201906" />
  <arg name="robot_ns" value="hydrus" />

  ###########  Robot Model  ###########
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch" >
    <arg name="headless" value="$(arg headless)" />
    <arg name="robot_model" value="$(find hydrus)/robots/$(arg type)/$(arg onboards_model)/robot.urdf.xacro" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="rviz_config" value="$(find differential_kinematics)/config/hydrus/$(arg type)/rviz_config" />
    <arg name="rviz_init_pose" value="$(find hydrus)/config/$(arg type)/RvizInit.yaml" />
    <arg name="need_joint_state" value="false"/>
  </include>

  ###########  Differential Motion Planner  ###########
  <node pkg="differential_kinematics" type="se2_end_effector_ik_node" name="end_effector_ik_node"  output="screen" ns="$(arg robot_ns)" >
    <param name = "tf_prefix" value = "$(arg robot_ns)" />
    <rosparam file="$(find hydrus)/config/$(arg type)/RvizInit.yaml" command="load" />
    <rosparam file="$(find differential_kinematics)/config/hydrus/$(arg type)/EndEffectorIK.yaml" command="load" />
  </node>

</launch>
