<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="estimate_mode"  default= "1" />
  <arg name="sim_estimate_mode"  default= "2" />
  <arg name="full_vectoring_mode"  default= "false" />
  <arg name="takeoff" default="0.3" />
  <arg name="headless" default="True" />

  <include file="$(find dragon)/launch/bringup.launch" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="estimate_mode"  value= "$(arg estimate_mode)" />
    <arg name="sim_estimate_mode"  value= "$(arg sim_estimate_mode)" />
    <arg name="full_vectoring_mode"  default= "$(arg full_vectoring_mode)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <!-- overwrite the takeoff param -->
  <param name="dragon/navigation/takeoff_height" value="$(arg takeoff)" />
  <param name="dragon/controller/rotor_interfere_compensate" value="false" /> <!-- force disable the rotor interfere compensation due to the good motion planning -->

</launch>
