<?xml version="1.0" encoding="utf-8"?>
<launch>

  ###########  IK-based Navigation  ###########
  <node pkg="ik_base_nav" type="dragon_navigation_node" name="dragon_ik_base_navigation" output="screen" ns="dragon" >

    <rosparam file="$(find ik_base_nav)/config/end_effector.yaml" command="load" />
    <param name="control_frequency" value="40.0" />

  </node>

</launch>
