<?xml version="1.0"?>
<launch>
  <arg name="control_test" default="false" />
  <arg name="object" default="convex" />

  <node pkg="aerial_transportation" name="grasp_planning" type="grasp_planning_node" output="screen">
    <rosparam file="$(find aerial_transportation)/config/hydrus.yaml" command="load" />
    <!-- for grasp planning -->
    <rosparam file="$(find aerial_transportation)/config/grasp_planning.yaml" command="load" unless="$(arg control_test)"/>

    <!-- for control test -->
    <rosparam file="$(find aerial_transportation)/config/grasp_control.yaml" command="load" if="$(arg control_test)"/>
    <param name="planning_file_name" value = "$(find aerial_transportation)/log/grasp_planning_$(arg object)_result.txt" if="$(arg control_test)"/>
    <param name="joint_states_pub_name" value ="/joint_states" if="$(arg control_test)"/>
    <param name="control_test_flag" value ="true" if="$(arg control_test)"/>
    <param name="play_file_flag" value ="true" if="$(arg control_test)"/>
  </node>

</launch>
