<?xml version="1.0"?>
<launch>
  <arg name="object" default="convex_polygonal_column" />

  <node pkg="aerial_transportation" name="convex_polygonal_column_display" type="$(arg object).py" output="screen">
    <rosparam file="$(find aerial_transportation)/config/object/$(arg object).yaml" command="load" />
  </node>
</launch>
