<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon" >

  <xacro:include filename="$(find dragon)/robots/quad/euclid_201709.urdf.xacro" />

  <joint name="tail_ball" type="fixed">
    <parent link="link4"/>
    <child link="tail_ball"/>
    <origin rpy="0 0 0" xyz="0.455 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="tail_ball">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.033" />
      </geometry>
      <material name="Yellow">
        <color rgba="1.0 1.0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.033" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.005"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000001"/>
    </inertial>
  </link>

</robot>
