<launch>
<!-- Debug Info -->
<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

<!-- The semantic description that corresponds to the URDF -->
<param name="hydrus/robot_description_semantic" textfile="$(find hydrus_moveit_config)/config/hydrus3/hydrus3.srdf" />

<!-- Load to the parameter server yaml files -->
<group ns="robot_description_planning">    
  <rosparam command="load" file="$(find hydrus3_moveit_config)/config/hydrus3/joint_limits.yaml"/>
</group>

<arg name="load_robot_description" value="true"/>
</include>

<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world head_cylinder 100" />

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> </node>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
<include file="$(find hydrus_moveit_config)/launch/moveit_rviz.launch" >
  <arg name="config" value="true"/>
</include>

</launch>
