<?xml version="1.0"?>

<launch>
  <arg name = "verbose" default = "false" />

  <node pkg="aerial_recognition" type="laser_detection_node" name="laser_detection_node"  output="screen" >
    <param name = "verbose" value = "$(arg verbose)" />
    <rosparam file="$(find aerial_recognition)/config/circle_detection.yaml" command="load" />
  </node>

  <include file = "$(find aerial_recognition)/launch/sensor/tiny_lasers.launch" />
</launch>
