<?xml version="1.0"?>
<launch>
  <node pkg="vectoring_thrust_grasp" type="vectoring_thrust_test_node" name="vectoring_thrust_test_node" output="screen" >
    <param name="weight_torque" value="4.0" />
    <param name="weight_force" value="1.0" />
    <param name="grasp_force_norm" value="10.0" />
    <param name="force_on_thrust_frame" value="false" /> <!-- chose the force point on the thrust frame or on the gimbal roll frame(2D)  -->
  </node>
</launch>
